[2018-07-12 13:59] sergefdrv opened #1 "Change sample replica connector to tolerate connecting to faulty replicas"
Currently the sample gRPC replica connector has to establish connections to all the required replicas before it can be used by the core/client. Thus it cannot handle the case when a replica is already faulty before the connection is established. That also has an implication, that replicas have to start listening to incoming connections before trying to establish outgoing connection. Changing how t

[2018-07-12 14:00] sergefdrv opened #2 "Test client"
Add unit tests for client implementation modules.

[2018-07-12 14:02] sergefdrv opened #3 "Switch to new go version"
`go1.10` is out there. Use it!

[2018-07-12 14:02] sergefdrv opened #4 "Remove nolint from core/usig/sgx/usig-enclave.go.in"
`gometalinter` should work fine after https://github.com/alecthomas/gometalinter/issues/450 was fixed.

[2018-07-12 14:06] sergefdrv opened #5 "Consider faulty client"
Faulty client might:
- not send a Request message to the primary
- send conflicting Request messages to different replicas

This could lead to expiration of the request timer and view change even if the primary is not faulty. This way liveness may be compromised.

[2018-07-12 14:07] sergefdrv opened #6 "Include message type to signed payload"
The message type should be covered by signature/USIG certificate to guarantee that a singed payload will not happen to be misinterpreted. NB: Protobuf does not include the message type into the binary encoding.

[2018-07-12 14:12] sergefdrv opened #7 "Enable CI in GitHub"
GitLab CI was used for this project internally. In order to see CI results in GitHub, it should be re-enabled using whatever GitHub supports.

[2018-07-18 12:54] ynamiki opened #8 "Enable Developer Certificate of Origin (DCO) Checks"
Install a GitHub App that enforces the Developer Certificate of Origin (DCO) on commits.

https://github.com/probot/dco

[2018-07-18 16:04] sergefdrv commented on #8
This requires special permission for the repo

[2018-07-19 03:54] ynamiki commented on #8
I have installed [probot/dco](https://github.com/apps/dco).
According to the [document](https://github.com/probot/dco/blob/master/docs/required-statuses.md), opening a Pull Request is needed before configuration; I will complete the configuration after we receive a Pull Request.

[2018-07-19 05:29] ynamiki commented on #7
@sergefdrv Do you have a preference on CI service?
I think a free cloud-hosted service ([CircleCI](https://circleci.com/), [Travis CI](https://travis-ci.org/), ...) is a good option as the first step.
GitLab recently releases [GitLab CI/CD for GitHub](https://about.gitlab.com/features/github/); this could also be an option with minimal porting cost.

[2018-07-19 05:57] ynamiki commented on #3
@sergefdrv Let me clarify a goal of this Issue.
Since Go 1.10 has no significant changes to the language specification, is updating [Dockerfiles](https://github.com/nec-blockchain/minbft/tree/master/dockerfiles) enough for this?

[2018-07-19 06:38] nhoriguchi opened #9 "Definition of USIG"
USIG seems to be a core component of MinBFT, but the terminology is not defined anywhere. Google search shows that USIG means Unique Sequential Identifier Generator, so showing this words somewhere in README will be helpful.

[2018-07-19 08:49] sergefdrv commented on #7
Although using GitLab CI/CD for GitHub sounds attractive because of minimal efforts, apparently that requires a mirror repository on GitLab.com. Are we up to create one? I don't mind investigating other options supported by GitHub.

[2018-07-19 08:53] sergefdrv commented on #3
@ynamiki Exactly, that is only about updating Dockerfiles and Readme. That means this issue is to be concerned after #7 is resolved.

[2018-07-19 08:57] sergefdrv commented on #9
The exact definition of USIG component is given in [the paper](https://www.researchgate.net/publication/260585535_Efficient_Byzantine_Fault-Tolerance). I'm thinking to add a couple of sentences in [Concepts section of Readme file](https://github.com/nec-blockchain/minbft#concepts).

[2018-07-19 11:51] ynamiki commented on #8
The configuration has been completed.

[2018-07-19 11:51] #8 closed, assigned to ynamiki

[2018-07-19 12:22] ynamiki commented on #7
I will try Travis CI.

[2018-07-20 00:22] nhoriguchi commented on #9
Nice fix, thank you!

[2018-07-20 08:21] sergefdrv commented on #9
@Naoya-Horiguchi  It seems like #10  is not merged yet...

[2018-07-21 14:27] nhoriguchi commented on #9
Ah, if I understand correctly, this issue will be automatically closed by GitHub when the branch `9-definition-of-usig`  is merged into the default (`master`) branch, so no need to manually close.

[2018-07-23 08:42] sergefdrv commented on #9
@Naoya-Horiguchi You are right, when #10 is merged, this issue will be resolved automatically.

[2018-07-23 09:19] ynamiki opened #12 "Make Rule of Merging Pull Request"
We need to make a rule of merging a pull request.
I think a simple rule is sufficient for this time.
@sergefdrv, @Naoya-Horiguchi, please give me your comments and suggestions.

- A pull request must be reviewed by one of the nec-blockchain members (@sergefdrv, @Naoya-Horiguchi and @ynamiki).
- The reviewer merges the request if it is fine.
- If the contributor (i.e. a creator of a Pull Request) i

[2018-07-23 11:21] sergefdrv commented on #12
I am absolutely fine with these rules :+1:

[2018-07-23 13:56] nhoriguchi commented on #12
+1

[2018-07-23 22:35] ynamiki commented on #12
Thanks, let's start with the rules.
If you are inconvenienced in practice, please create an issue to update the rule.

[2018-07-26 08:56] #7 closed, assigned to ynamiki

[2018-07-26 23:38] #9 closed, assigned to sergefdrv

[2018-07-27 01:53] ynamiki opened #16 "CircleCI: Create and Use Custom Docker Image"
CircleCI, which we have set up in #13 supports custom Docker images so it is better to build a custom image with Intel SGX SDK and Go on Ubuntu 16.04 than to do everything in `.circleci/config.yml`.

A problem on using a custom image is that we need to have a Docker Registry or to manage an account of Docker Hub.

[2018-07-27 09:56] #3 closed, assigned to ynamiki

[2018-07-27 14:14] sergefdrv commented on #12
I'm wondering how to handle updates to pull request based on review comments. I'm not really happy that GitHub in contrast to GitLab doesn't allow to see different versions of rebased and force-pushed commit series :slightly_frowning_face: It looks like the expected way to address review comments is to add additional commits on top. I believe this will make history cluttered and less useful. I was

[2018-07-30 02:39] ynamiki commented on #12
Making rule that create a new pull request for each revision is no problem for me.

I also like "clean" (e.g. no separate commits for addressing review comments) commit history (but my ideal way is slightly different from yours: use a feature branch and merge with `git merge --no-ff` after review). But I have no good idea to bring the way to GitHub Pull Request straightforwardly.

[2018-07-30 08:49] sergefdrv commented on #12
Good that we share the same attitude towards keeping history clean. Frankly, I don't have a strong preference between fully linear history and the approach with `git merge --no-ff`. Although, a linear history looks nice, the benefit of the latter approach is that if any intermediary commit in the pull request that might break build, wouldn't break `git bisect` completely. That is a useful property

[2018-07-30 08:52] sergefdrv commented on #12
We might also want to summarize the rules in https://github.com/nec-blockchain/minbft#contributing or in separate file as suggested at https://help.github.com/articles/setting-guidelines-for-repository-contributors/.

[2018-07-31 02:15] ynamiki commented on #12
@sergefdrv Thanks a lot for compiling the procedure. It is good to me.
@Naoya-Horiguchi What do you think?

[2018-08-02 03:28] ynamiki opened #17 "Move to hyperledger-labs/minbft"
MinBFT has been [approved](https://github.com/hyperledger-labs/hyperledger-labs.github.io/pull/32) as a Hyperledger Lab and a new repository has been created under hyperleder-labs:

https://github.com/hyperledger-labs/minbft

Move contents of this repository to the new one.

[2018-08-02 03:30] ynamiki commented on #17
I have confirmed that every commits excluding merge commits in this repository is signed-off at 91aba024a1dd4bbcf7a27991a3bbbf8f6b20bbea so there are no DCO related issues to move.

[2018-08-02 08:47] sergefdrv commented on #17
NB: We would need to substitute all occurrences of `github.com/nec-blockchain/minbft` with `github.com/hyperledger-labs/minbft`.

[2018-08-03 01:04] nhoriguchi commented on #12
I totally agree on how we prepare a branch for pull-request. I'll follow it.

[2018-08-06 05:06] nhoriguchi commented on #4
@sergefdrv the mentioned issue was fixed for go-1.9 and 1.10. So can we close this issue?

[2018-08-06 08:35] sergefdrv commented on #4
@Naoya-Horiguchi Yes, it was fixed. The only thing left is to remove the `// nolint` hint from our source code https://github.com/nec-blockchain/minbft/blob/master/usig/sgx/usig-enclave.go.in#L68

[2018-08-06 09:53] sergefdrv commented on #12
What do you think about possible actions provided by "Merge button"? https://help.github.com/articles/about-merge-methods-on-github/

[2018-08-06 15:17] ynamiki commented on #12
@sergefdrv I like the default Merge pull request option. Other options, squashing and rebasing change the well-arranged commit history (including the hash) in a pull request.

[2018-08-07 05:54] ynamiki commented on #17
@sergey, I am going to start the migration to hyperledger-labs after #18 is merged. The following is a migration plan. I would like your comments.

1. Push the latest code (with the commit history) to `hyperledger-labs`.
2. (nec-blockchain) Push a new commit that delete all files and update the README with notice of the migration.
3. (hyperledger-labs) Replace `nec-blockchain/minbft` to `hyperledg

[2018-08-07 08:30] sergefdrv commented on #12
@ynamiki Sorry, I used "Rebase and merge" to merge #14. I mistakenly thought it will rebase the topic branch on top of the the master and then merge with `--no-ff` option. I confused it with GitLab's "Merge commit with semi-linear history" strategy which is my personal favourite... Should we then disable other options in section "Merge button" of the project settings?

[2018-08-07 08:34] sergefdrv commented on #17
@ynamiki There seems to be another way to do that: https://help.github.com/articles/about-repository-transfers/. Do you think can we take advantage of it?

[2018-08-07 11:00] nhoriguchi commented on #17
@ynamiki README.md on current hyperledger-labs/minbft includes information about committers and sponser, so could you copy it to nec-blockchain/minbft in the migration process?

[2018-08-07 11:38] sergefdrv commented on #17
@Naoya-Horiguchi @ynamiki

Do we have to? As far as I understood "initial committers" means those who would initially have write access to the Hyperledger Labs repository; and sponsor is mainly required to propose for Hyperledger Labs. Anyways, this information is available at https://github.com/hyperledger-labs/hyperledger-labs.github.io/blob/master/labs/minbft.md.

[2018-08-08 00:55] ynamiki commented on #17
It seems good. I'll contact the Labs Stewards to use this.

[2018-08-08 02:11] ynamiki commented on #17
@sergefdrv I have confirmed (in the chat) that we can transfer by the method. What day would be convenient for you?

[2018-08-08 02:22] nhoriguchi commented on #17
Ah, OK. So we don't need this step.

[2018-08-08 08:15] sergefdrv commented on #17
It doesn't seem to affect anything. So please go ahead any time.

[2018-08-08 09:45] ynamiki commented on #17
@sergefdrv @Naoya-Horiguchi We start the transfer. Please suspend updates on this repository including Issues and Pull Requests.

[2018-08-08 09:48] ynamiki commented on #17
@ryjones We are ready for the transfer to hyperledger-labs/minbft. Could you start the process?

[2018-08-08 14:17] ryjones commented on #17
https://github.com/hyperledger-labs/minbft

[2018-08-08 14:23] ryjones commented on #17
@Naoya-Horiguchi has a pending invite to join the committers group, but the transfer is done

[2018-08-08 14:39] sergefdrv commented on #17
We still need to adjust import path to finish migration: https://github.com/hyperledger-labs/minbft/issues/17#issuecomment-409853861.

[2018-08-08 15:27] sergefdrv opened #21 "Fix CI after migration to Hyperledger Labs"
Seems like CircleCI stopped working since migration to Hyperledger Labs. Pull requests, at least, do not go through CI.

[2018-08-09 01:26] ynamiki commented on #21
I have finished the configuration:
https://circleci.com/gh/hyperledger-labs/minbft

The build status badge in the README is updated in #22.
I will close this issue after #22 is merged.

[2018-08-09 02:12] ynamiki commented on #12
@sergefdrv No problem. I have disabled squashing and rebasing in the repository settings.
https://help.github.com/articles/about-merge-methods-on-github/

[2018-08-09 06:04] ynamiki commented on #12
Shall I close this issue and create a new issue for https://github.com/hyperledger-labs/minbft/issues/12#issuecomment-408793668?

[2018-08-09 06:36] nhoriguchi commented on #12
@ynamiki creating a new issue makes sense to me. GitHub seems not to support "subtask" feature (surprising to me), but if we have it would be suitable for this case.

[2018-08-09 08:27] sergefdrv commented on #21
NB. https://help.github.com/articles/closing-issues-using-keywords/

[2018-08-09 08:55] sergefdrv commented on #12
@ynamiki As you prefer. We actually have a rule. Documenting the rule might be considered a separate issue.

Issues can be "linked" instead by referring to one issue in a comment to another.

[2018-08-09 09:02] #17 closed, assigned to ynamiki, sergefdrv

[2018-08-09 09:04] #21 closed, assigned to ynamiki

[2018-08-09 12:44] ynamiki opened #28 "Summarize Contributing Rules"
Summarize the rules described in #12 in https://github.com/hyperledger-labs/minbft#contributing or in separate file as suggested at https://help.github.com/articles/setting-guidelines-for-repository-contributors/.

[2018-08-09 12:49] ynamiki commented on #12
Created the separate issue for the documenting.

[2018-08-09 12:49] #12 closed, assigned to ynamiki

[2018-08-20 07:32] sergefdrv commented on #5
Intuitively, #29 should fix the case 2, where the malicious client sends conflicting request IDs to different replicas. One option to fix the case 1 could be for a backup replica to forward client requests to the primary if there's no corresponding Prepare message within certain timeout, less than the request timeout.

[2018-09-17 09:44] sergefdrv opened #31 "Remove 1s delay workaround for SGX SDK simulation mode"
Now the PR https://github.com/intel/linux-sgx/pull/304 got merged, _wait for the next release_ of SGX SDK, switch to it, and remove the workarounds:

- [ ] https://github.com/hyperledger-labs/minbft/blob/f601f35439060f393354b0fdebf864bc0ad90baa/sample/authentication/crypto_test.go#L87
- [ ] https://github.com/hyperledger-labs/minbft/blob/f5a973bc2e299f1abfe22d094404cf9c9cf245b5/usig/sgx/test/usig_

[2018-09-28 08:23] sergefdrv commented on #31
[SGX SDK 2.3.1 Release](https://github.com/intel/linux-sgx/releases/tag/sgx_2.3.1) now includes https://github.com/intel/linux-sgx/pull/304. We can switch to this release in CI, update the Readme, and remove the workarounds.

[2018-10-04 13:55] sergefdrv opened #33 "Use `assert.Error()` and `assert.NoError()` to check for errors in test code"
It is better to use those methods in place of `assert.Nil()` and `assert.NotNil()` when checking return values of type `error`.

[2018-10-10 09:05] #31 closed, assigned to nhoriguchi

[2018-10-30 06:13] nhoriguchi opened #42 "Make some logging parameters configurable"
I learned from code review for #41 that peer/client can have more flexible logging by making some parameters (like log level, log file's path, and/or prefix format) configurable.

[2018-11-22 13:55] #33 closed, assigned to nhoriguchi

[2018-11-23 15:09] sergefdrv commented on #1
@Naoya-Horiguchi Would you be interested in solving this issue at some point? Solving this would also be useful for view change: it would be easier to try and see view change in action.

[2018-11-26 07:18] nhoriguchi commented on #1
@sergefdrv Yes, I am. I'll work on this after finishing the current issue.

[2018-11-26 18:49] sergefdrv opened #46 "Enhance logging capabilities in client module"
Logging capabilities of `client` package should be improved. It should become similar to what `core` does. `peer request` CLI should ultimately support the same logging flags as `peer run` (cf. #42).

[2018-11-26 18:51] sergefdrv commented on #1
@Naoya-Horiguchi When you have questions or an idea how to solve this problem, please feel free to discuss it :slightly_smiling_face:

[2018-11-29 04:56] ynamiki commented on #16
To do:
- [Doing in the chat] Ask an administrator to install "Docker Hub Registry" application in hyperledger-labs organization of GitHub
- [Waiting the first item] Update configuration of Docker Hub to refer hyperledger-labs/minbft for automated build (ynamiki/minbft is used now)

[2018-12-06 00:35] ynamiki commented on #16
The above to-do items has been done. I have configured an autometed build from this repository.

[2018-12-06 00:52] ynamiki commented on #16
CircleCI was failed because it could not get the image. I will take a look.

https://circleci.com/gh/hyperledger-labs/minbft/tree/master

[2018-12-06 01:24] ynamiki commented on #16
The CI is now fixed (no changes, I just re-run the job); it seems that we need some time to get the latest image from Docker Hub.

[2018-12-06 01:24] #16 closed, assigned to nobody

[2018-12-06 02:57] nhoriguchi commented on #16
@ynamiki (just off-topic comment...) sorry for letting you close this issue manually. I added the reference "solved #16" in merge commit message, but according to https://help.github.com/articles/closing-issues-using-keywords/, the word "solved" is not a magic word. I'll use right word if I'll do merge operation next.

[2018-12-06 04:14] ynamiki commented on #16
@Naoya-Horiguchi No problem. It was my task to add the magic word in my commit comment.

[2018-12-14 02:46] nhoriguchi commented on #1
@sergefdrv, the first thing I thought we need consider is how we determine whether a specific node is Byzantine faulty.  Detecting crash faulty node is relatively trivial, but Byzantine fault detection isn't because such faulty nodes can do any types of unpredictable behavior (some "clever" faulty node usually behaves like correct node, and behaves traitorously only in some critial request).  Ther

[2018-12-14 13:46] sergefdrv commented on #1
@Naoya-Horiguchi Thanks for looking into this. Fault detection sounds an interesting direction to investigate. This might give a new perspective on the problem. On the other hand, MinBFT protocol is designed to tolerate up to a certain number, `f`, of faulty replicas, whether crashed or Byzantine. Fault detection might be considered an advanced feature in addition to what MinBFT protocol guarantee

[2018-12-16 18:18] sergefdrv opened #51 "Update gometalinter"
Version 2.0.12 of `gometalinter` has been [released](https://github.com/alecthomas/gometalinter/releases/tag/v2.0.12). Let's update our CI image, too.

[2018-12-19 02:56] ynamiki opened #56 "Use Go Modules"
[Go 1.11 introduced "modules"](https://github.com/golang/go/wiki/Modules). This feature is now experimental and will be finalized in Go 1.12.

The feature may useful to manage dependencies. After Go 1.12 is released, we will consider whether it suits our project.

[2018-12-19 10:54] sergefdrv opened #59 "Check updates to CI Dockerfile"
Since #50 has been merged, we use a custom docker image in CI, which is maintained on Docker Hub. The image is built from [Dockerfile](https://github.com/hyperledger-labs/minbft/blob/master/.circleci/images/Dockerfile) managed in the source tree. As long as this Dockerfile stays unchanged, it is safe to keep using the same image from Docker Hub when running CI checks.

However, we would like to up

[2018-12-20 01:52] nhoriguchi commented on #59
Thanks for summarizing points. I agree that we need a process to confirm that the built custom image is valid before switching. Let me share some ideas about what/how:

- one possible way to do the check is to run CI test process with the new image for the commit which was already confirmed to pass with the old image,
- to do that, we need to define another image tag for the check and tell CI proc

[2018-12-20 07:57] ynamiki commented on #59
I am thinking reverting #50 (i.e. do not use a custom Docker image) is reasonable....

To implement this issue, it might be something like the following:

1. (At creating a PR) Check whether `Dockerfile` was updated.
2. If `Dockerfile` was updated or `gometalinter` was updated, build a new image (not on Docker Hub but CircleCI) (How we keep the version of `gometalinter` used in the current image?)

[2018-12-20 09:21] nhoriguchi commented on #59
... (I undo the previous comment because that's not a good comment... sorry) I just wait for feedback from Sergey. Thanks.

[2018-12-20 10:55] sergefdrv commented on #59
I looked at the timing of CI stages. My observations:

- "Spin up Environment" takes up ~20s with a custom image; timing with a standard image is similar, sometimes significantly less (even 1s)
- "Install Go": 3-4s
- "Install Intel SGX SDK": 3-10s
- "Install gometalinter": 4-8s

So I think, given little to zero benefit of the custom image, we might be fine reverting #50.

Notice, that before switc

[2018-12-21 06:06] ynamiki commented on #59
@sergefdrv Thanks for your survey.

I would like to propose to stop using a custom Docker image. Using a custom image was aimed to improve efficiency of the build process, but the time reduced is less than 30 seconds and it brings the issue described in the first comment. The issue is not intractable, but need a lot of efforts to implement. I think it is reasonable to go back to the previous, simp

[2018-12-21 09:37] sergefdrv commented on #59
@ynamiki Please go ahead

[2018-12-24 23:18] nhoriguchi commented on #59
@ynamiki I'm OK for reverting.

[2019-01-07 00:15] #59 closed, assigned to nobody

[2019-01-08 10:34] #51 closed, assigned to ynamiki

[2019-01-22 09:36] nhoriguchi commented on #1
@sergefdrv Sorry for my long silence, and I'm appreciated with your detailed explanation. I think I'm nearly ready to share code change ([link](https://github.com/Naoya-Horiguchi/minbft/tree/dev/issue1.tolerate_few_connction_failure.v0.1)). On-demand connection mechanism sounds interesting to me, but is not included in the current version yet.

I think that one thing to clarify is where/when to re

[2019-01-24 20:42] sergefdrv commented on #1
@Naoya-Horiguchi Thanks for working on this. I think your current series could be a good first step to improve the way we handle the connectivity problem. You probably want to avoid `ConnectManyReplicas` failing fast on the first error from `ConnectReplica`. https://godoc.org/golang.org/x/sync/errgroup might help achieving this :wink:

[2019-01-25 21:20] sergefdrv opened #65 "Re-enable CircleCI checks in pull requests"
CircleCI checks stopped functioning in pull requests recently, e.g. #64. We need to re-enable it.

[2019-01-28 00:58] ynamiki commented on #65
@sergefdrv It may sound strange, but I have not changed the configuration and my test PR (#66) triggered CircleCI without any problem.

[CircleCI will skip a build](https://circleci.com/docs/2.0/skip-build/) if `[ci skip]` or `[skip ci]` is included in a commit title or a description. But there are no such keywords in your commits.

I am sorry but I cannot identify a root cause. Could you please r

[2019-01-28 07:00] nhoriguchi commented on #1
Applied this, thank you 👍

I didn't know about this library, so I learned it. Although it seems to me that errgroup doesn't fit to my current solution, it provides basic synchronization functions and will be helpful somewhere in this development, so thanks for noting.

[2019-01-28 09:23] sergefdrv commented on #65
@ynamiki Lets keep an eye on it and see how it behaves next time. I remember I also had to do force-push in #62 to trigger CI.

I suspected that CI might not have been triggered because CircleCI was triggered against my private fork before I opened PR, but that should not be the case...

[2019-02-28 07:43] ynamiki opened #71 "Switch gometalinter to Another Linter"
Gometalinter, a linter used in our CI, will be archived in April 2019: alecthomas/gometalinter#590. We should switch to another linter, such as [golangci-lint](
https://github.com/golangci/golangci-lint).

[2019-02-28 18:52] sergefdrv commented on #65
#70 did not trigger CI...

[2019-02-28 20:43] ynamiki commented on #65
I have no idea of the cause. The CI will not be triggered if a PR is opened by someone other than me...? I will look for related configuration.

[2019-03-02 05:26] ynamiki commented on #65
My PR #72 triggered the CI successfully🤔 (I have not changed any configuration).

[2019-03-07 20:43] sergefdrv commented on #65
#74 didn't trigger CI...

[2019-03-08 04:56] ynamiki commented on #65
I confirmed that GitHub triggers [the webhook](https://github.com/hyperledger-labs/minbft/settings/hooks/91605216) properly (e.g. `6cb75600-4159-11e9-8ca1-063fdf0a7fa5` for opening #75) and CircleCI replied 200 as a response. It seems that this is a matter of CircleCI (not GitHub).

[2019-03-13 20:05] sergefdrv commented on #65
Seems to have worked for #76.

[2019-03-13 20:07] sergefdrv commented on #1
Solved in #65

[2019-03-13 20:07] #1 closed, assigned to nhoriguchi

[2019-03-13 20:17] sergefdrv opened #77 "Show non-primary fault tolerated in example"
Now #76 is merged, we can extend the instruction in README file and demonstrate that the example keeps working even if one of the backup replicas is faulty (terminated).

[2019-03-13 22:14] ynamiki commented on #65
The CI has NOT triggered by #76 itself, but by merging it into `master`.
It seems that there are something wrong for a forked PR.

[2019-03-14 09:25] sergefdrv commented on #65
That's strange, I'm pretty sure I've seen CI check passed before I merged the #76. But I didn't go to the "Checks" tab; I looked at the panel on "Conversation" tab, just above "Merge" button. Let's keep it open and observe the behavior with the next PR.

[2019-03-14 09:27] sergefdrv commented on #65
Maybe, that was the case because @Naoya-Horiguchi  force-pushed the branch after the PR was created. I observed that behavior before: force push somehow triggers CI.

[2019-03-25 08:32] ynamiki opened #79 "Fix Errors from GolangCI-Lint"
By switching to golangci-lint #71, #78, we get some errors from the linter.
The CI ignores these errors now; when this is fixed, `make lint || : allow failure` in `.circleci/config.yml` should be changed to `make lint` not to ignore the errors.

[code]

https://circleci.com/gh/hyperledger-labs/minbft/115

[2019-03-27 23:58] #71 closed, assigned to ynamiki

[2019-03-27 23:58] #79 closed, assigned to nobody

[2019-04-05 00:25] ynamiki opened #81 "Develop Adapter to Use MinBFT as Ordering Service of Hyperledger Fabric"
There is an adapter for BFT-SMaRt:
https://github.com/bft-smart/fabric-orderingservice

It would be nice if we have a similar adaptor for our project.

[2019-04-05 08:18] sergefdrv commented on #81
That would be good. It must not necessarily follow the architecture of BFT-SMaRt adapter because we use language compatible with Fabric code base. We should compare it with how Raft is integrated in Fabric.

Additionally, we might be interested in integration with HL Sawtooth.

[2019-04-11 02:06] ynamiki commented on #65
In #83, we confirmed the CI has been triggered for a PR that is opened by other than @ynamiki; it looks it works well!

[2019-04-16 23:21] #4 closed, assigned to ynamiki

[2019-04-16 23:26] #56 closed, assigned to ynamiki

[2019-04-16 23:36] nhoriguchi opened #86 "settle explicit dependency on GOPATH"
minbft is now treated as Go module with #82. Go module is free from GOPATH generally, but we still have dependency on it. Removing GOPATH is not mandatory or urgent but will be done at some point.

[2019-04-17 01:05] ynamiki commented on #86
`keytool` and `peer` commands have (optional) dependency on `$GOPATH`; they try to find `$GOPATH/src/github.com/hyperledger-labs/minbft/usig/sgx/enclave/libusig.signed.so` by default (we can override the default by a command-line option or a configuration file). Now we are a Go module then a user don't need to place the directory in GOPATH. And even a user place it in GOPATH, he/she may not define

[2019-04-19 02:43] nhoriguchi commented on #86
Hi @ynamiki, I like option 1. And `sample/bin` looks a good place for `libusig.signed.so`.

[2019-04-19 03:58] ynamiki commented on #86
I should add some description for the option 1:
This means the commands find the library in the same directory (we can get a path of an executable by [os.Executable()](https://tip.golang.org/pkg/os/#Executable)). So this is works wherever a current directory is.

[2019-04-24 14:00] sergefdrv commented on #86
I prefer the option 1 but would also consider a slight variation of it: installing the enclave binary in `sample` directory. Then the sample configuration files can refer to it using a relative path, i.e. just using the file name. Specifying a relative path respective to the base directory of executable might look a bit unconventional/confusing in a configuration file.

[2019-04-24 14:04] sergefdrv commented on #86
However, using `sample/bin` as a destination to install the enclave binary actually looks pretty good. Another alternative might be `sample/lib`.

[2019-04-24 14:16] sergefdrv commented on #86
BTW, how about adding `install` target to our makefiles? This target can handle both installation of CLI binaries (`peer` and `keytool`) and the enclave binary/library. We can set `prefix=$(srcdir)/sample` by default until the project is mature enough to change it to the conventional `/usr/local/`.

[2019-04-24 14:48] sergefdrv opened #87 "Make usig/sgx package retrievable from the repository"
Now the main code base is converted to a Go module. However, we cannot fully utilize flexibility and convenience of Go module system due to the fact that `usig/sgx` is still a special package. That is because `usig/sgx/usig-enclave.go` has to be generated with `make`. This means a module user cannot retrieve this package directly from the repository, but needs to build it separately. We should cha

[2019-05-09 22:44] #86 closed, assigned to ynamiki

[2019-05-17 15:03] sergefdrv commented on #65
Unfortunately, is CI still not triggered by my PRs, e.g. #91 :slightly_frowning_face:

[2019-05-24 00:27] ynamiki commented on #65
I have re-configured the CircleCI integration (with help from the LF helpdesk). It looks good for me (#92).
I will close this issue if we confirm that the CI is triggered for a PR by others (i.e. not me).

[2019-05-24 00:40] nhoriguchi opened #93 "Requires libsgx_urts.so to run in SGX hardware mode"
Current installation procedure seems to cover only cases of running in SGX simulation mode. I saw the following error in running `keytool generate` with `SGX_MODE=HW`:

`libsgx_urts_sim.so` for simulation mode is installed by SGX SDK installer `sgx_linux_x64_sdk_2.3.101.46683.bin`, and `libsgx_urts.so` for hardware mode is delivered by `libsgx-enclave-common_2.3.101.46683-1_amd64.deb`. So we might

[2019-05-24 00:49] nhoriguchi commented on #77
Closed by #85.

[2019-05-24 00:49] #77 closed, assigned to nhoriguchi

[2019-05-27 07:02] ynamiki commented on #93
Right, we need to install a driver and a platform software (PSW) in addition to the SDK to run the command in the hardware mode. We can update the README to ask a user to install these packages based on [the Intel's Installation Guide](https://download.01.org/intel-sgx/linux-2.3.1/docs/Intel_SGX_Installation_Guide_Linux_2.3.1_Open_Source.pdf).

@Naoya-Horiguchi Are you creating a patch for this? S

[2019-05-27 07:04] nhoriguchi commented on #93
@ynamiki, I'll work on this.

[2019-05-27 08:51] sergefdrv commented on #65
@ynamiki Thanks for handling this! Hope it works now. NB: it seemed to worked before if one force pushed once, _after_ PR was created. So let's wait and see if it works with a newly created PR.

[2019-05-27 09:15] sergefdrv commented on #65
#94 doesn't show CircleCI status in "Checks", although CI was triggered by the push in the branch to merge, as indicated by :heavy_check_mark:: https://github.com/sergefdrv/minbft/commits/add-request-timer-v2.

[2019-05-27 09:19] sergefdrv commented on #65
I noticed that we have both GitHub App and a Web Hook for CircleCI enabled. Maybe there is some conflict and we should leave only one thing on?

[2019-05-27 09:23] sergefdrv commented on #93
Please check if we actually need to install PSW. MinBFT doesn't seem to use any of PSW features. If I remember correctly, it was enough to install SGX driver prior to SDK to make hardware libraries available.

[2019-05-28 02:25] ynamiki commented on #65
I have deleted the webhook. I keep an eye on how it works with this configuration....

[2019-05-28 05:08] ynamiki commented on #65
After deleting the webhook, merging #94 into master did not trigger the CI. I restored the webhook.

[2019-05-28 10:13] nhoriguchi commented on #93
@sergefdrv, thanks for the comment. Actually `libsgx_urts.so` is included in Intel SGX SDK, so installing PSW is not mandatory. It seems that the problem is that `libsgx_urts.so` and `libsgx_urts_sim.so` are located under different directories, and only `libsgx_urts_sim.so` is available under the library path `/opt/intel/sgxsdk/sdk_libs` (specified in `/etc/ld.so.conf.d/sgx-sdk.conf`):

So adding

[2019-05-28 12:02] sergefdrv commented on #93
@Naoya-Horiguchi thanks for investigating that. I think it would be enough to simply change `/opt/intel/sgxsdk/sdk_libs` to `/opt/intel/sgxsdk/lib64` in `/etc/ld.so.conf.d/sgx-sdk.conf` in order to support both simulation- and hardware-based USIG.

[2019-05-31 04:53] nhoriguchi commented on #93
When I tried to include `/opt/intel/sgxsdk/lib64` into library path, I encountered an interesting error on running `usig_test`:
[code]
This error message is self-descriptive and also mentioned [here](https://github.com/intel/linux-sgx/issues/47). We have to use the reliable version distributed with PSW library and can't use one in SGX SDK. So my current approach doesn't work :worried:.

Another po

[2019-06-03 09:10] sergefdrv commented on #93
@Naoya-Horiguchi Thanks for the analysis. Indeed, we seem to have to install PSW, then. So we need to mention this in Readme file.

It might  be a bit inconvenient to invoke `$SGX_SDK/environment`each time. So it might be useful to keep the optional advise to create `/etc/ld.so.conf.d/sgx-sdk.conf`. Let's just mention that `sudo ldconfig` has to be invoked once after adding the file.

[2019-06-03 09:13] sergefdrv commented on #65
Unfortunately, #95 hasn't triggered CI... :slightly_frowning_face:

[2019-06-03 09:23] nhoriguchi commented on #93
@sergefdrv I'll update #95 with this direction. Thanks for sharing ideas.

[2019-06-06 00:14] nhoriguchi commented on #93
closes by merging #96.

[2019-06-06 00:14] #93 closed, assigned to nhoriguchi

[2019-06-19 14:26] sergefdrv opened #100 "Support submitting multiple requests in sample CLI"
Beyond just simple demonstration, we might want to allow creating some workload. We can extend the sample `peer request` command to support submitting a series of requests back-to-back. Then this could be used to imitate some dense workload.

[2019-07-12 16:50] sergefdrv commented on #65
I think there is some issue with my account. #102 didn't trigger CI, but #101 did. I need to investigate it myself, then.

[2019-07-22 12:21] ynamiki commented on #65
#104 from @sergefdrv did trigger the CI. The problem is solved...?

[2019-07-22 16:08] sergefdrv commented on #65
@ynamiki Now CircleCI is properly triggered by my PR. What I did was to disable CircleCI for my fork of the repo. I am fine with that, but I wonder why that was an issue. Maybe, I try to enable it again and see how will that go...

[2019-07-22 16:15] sergefdrv commented on #65
Maybe we can now require CircleCI [status check](https://help.github.com/en/articles/enabling-required-status-checks) for `master` branch?

[2019-07-23 00:08] ynamiki commented on #65
@sergefdrv @Naoya-Horiguchi Now CircleCI status check is required for `master` branch. Please let me know if you have any trouble.

[2019-07-23 00:58] #28 closed, assigned to sergefdrv

[2019-07-26 11:52] sergefdrv opened #105 "Decapitalize error strings"
Note: It is said that error strings should not be capitalized, but our project use the capitalized style consistently.
https://github.com/golang/go/wiki/CodeReviewComments#error-strings

_Originally posted by @ynamiki in https://github.com/hyperledger-labs/minbft/pull/102_

[2019-07-26 12:04] sergefdrv opened #106 "Use `xerrors` package"
What we could also do is to use ["github.com/pkg/errors" package](https://godoc.org/github.com/pkg/errors) for wrapping error messages in the context of the call stack.

_Originally posted by @sergefdrv in https://github.com/hyperledger-labs/minbft/pull/102/review_comment/create_

[2019-07-26 12:35] #65 closed, assigned to ynamiki

[2019-07-30 08:23] sergefdrv opened #110 "Fix viewstate package"
Sometimes, the package test fails: https://circleci.com/gh/hyperledger-labs/minbft/159. This is either a bug in the implementation or in the test that needs to be fixed.

[2019-08-01 06:30] nhoriguchi commented on #81
I wrote some [adapter code](https://github.com/Naoya-Horiguchi/fabric/commits/devel/v1.4.1/minbft) and [a gist document](https://gist.github.com/Naoya-Horiguchi/abd6567b2c74b1e1adb29b21c85f0c07) to address this issue. So let me share.

I did the followings:

- wrote minimum code for "MinBFT on Fabric"
- adjusted byfn sample code for MinBFT
- added Caliper testcases to measure throughput of "MinBFT

[2019-08-02 00:24] ynamiki commented on #81
@Naoya-Horiguchi Great work! I think your performance test was done in the simulation mode. I will try it with a SGX-equipped machine.

[2019-08-05 06:01] nhoriguchi commented on #100
If we allow `peer request` to send multiple requests, we need to design how we pass the separate input strings from command line. The simplest way is using multiple string arguments like below
[code]
which sends 3 requests. But considering the limit on bash command input (controlled by `getconf ARG_MAX`), we may have a way of file-based input to generate multiple requests.
[code]

And when we disc

[2019-08-05 07:17] nhoriguchi opened #111 "Simplify messageString() output for large message payload"
I noticed in "MinBFT on Fabric" trial that orderer's log output was filled with message payload, which was a bit cumbersome to handle. Showing raw payload might be good for some simple workload, but some digest might more preferable for messages with large payload. One possible way to go is to introduce a threshold and to show a digest value if the size of message payload goes above it.

[2019-08-05 08:29] nhoriguchi commented on #100
ah, option "--id id" is already supported, so we just have to document it somewhere.

[2019-08-05 08:57] sergefdrv commented on #111
Another option is to abbreviate long values with ellipsis.

[2019-08-05 09:02] sergefdrv commented on #100
We can also pass requests to `peer request` through standard input.

Another possibility would be to add an option with a number of requests to generate. In that case, the argument might be treated as a `printf`-style format string.

[2019-08-05 12:23] nhoriguchi commented on #111
Thanks, I'll do it.

[2019-08-07 00:43] #100 closed, assigned to nhoriguchi

[2019-08-11 20:10] sergefdrv opened #116 "Allow force-push to address pull request comments"
When a PR branch is force-pushed, GitHub provides a link ("force-pushed") to check the changes:

![image](https://user-images.githubusercontent.com/11386423/62529792-9abc6880-b83f-11e9-96d9-1b1dc69563d3.png)

We'd better change our contribution guideline. Review comments could be addressed without opening another PR, but by force-pushing. The links would allow to check the changes, even more conve

[2019-08-20 22:31] #116 closed, assigned to sergefdrv

[2019-08-21 22:16] #111 closed, assigned to nhoriguchi

[2019-08-27 16:23] nhoriguchi opened #119 "Forward request messages to primary replica"
The sample client currently sends `REQUEST` messages to all replicas, but generally that's not a requirement.  The `REQUEST` messages are embedded in the corresponding `PREPARE` messages and distributed to backup replicas in prepare phase, so by allowing the backup replicas to forward the `REQUEST` messages to the primary replica at the time, clients can initiate requests just by sending at least

[2019-08-30 15:40] sergefdrv commented on #119
This looks like a good direction for optimization. The proposed change would indeed safely reduce communication overhead in graceful execution. However, any optimization needs to consider both safety and liveness. In order to preserve liveness in the worst case, at least `f+1` _correct_ replicas need to eventually receive the `REQUEST` message so that they can trigger view change. I think this pro

[2019-09-03 02:11] nhoriguchi commented on #119
OK, it seems I've submitted this issue based on incorrect understanding on current code, sorry about that. Clients don't know which replica is primary or which replicas are correct/faulty, so all replicas should receive the REQUEST message to properly set request timers for now. If we have a reliable way to find a primary replica or faulty replicas, we might reduce the number of targets to send RE

[2019-09-03 08:15] sergefdrv commented on #119
I think there is a possibility to optimize the protocol in this direction. First, we can try some optimistic scheme. If that does not work, we can fall back to the original pessimistic, but reliable, scheme. However, we should not probably focus on optimization at this stage.

[2019-09-03 09:22] nhoriguchi commented on #119
@sergefdrv I agree, so I close this issue now.

[2019-09-03 09:22] #119 closed, assigned to nhoriguchi

[2019-09-11 06:06] ynamiki opened #120 "Upgrade to Go 1.13"
Go 1.13 has been [released](https://golang.org/doc/devel/release.html#go1.13). By this release, Go 1.11, which we are using in our CI, is [no longer supported](https://github.com/golang/go/wiki/Go-Release-Cycle#release-maintenance) (i.e. no more security fixes). We should upgrade it.

[2019-09-13 04:55] ynamiki commented on #81
Unfortunately, I give up.... I find that it is so much complicated task in my environment. The SGX-equipped machine is behind a corporate proxy with SSL inspection and I have to update all Dockerfiles to install a special certificate for SSL Inspection:anguished:.

[2019-09-13 09:11] sergefdrv commented on #81
It might be easier to develop the integration building the enclave in simulation mode. Then there's no need in hardware SGX machines. Conceptually, integration should not depend on whether you use simulation of hardware SGX.

[2019-09-13 09:12] sergefdrv commented on #81
Sorry, I haven't found time to look at the code yet, but it's on my to-do list :wink:

[2019-09-18 04:21] nhoriguchi commented on #81
@ynamiki, @sergefdrv thank you for comments. I admit that the code I'm developing is immature and need to be improved before reviewed in detail. Namiki-san's work on #115 for delivery improvement would help me very much.

Yes, proxy often prevents us from easy testing, so if available you can use SGX-equipped VMs on Azure. But anyway, I think it's nice if I can provide the procedure properly worki

[2019-09-25 16:32] sergefdrv commented on #81
@Naoya-Horiguchi I still couldn't find time to look at the code, but let me just give some feedback to your concern.

In case of Hyperledger Fabric, the consensus mechanism of the ordering service is in general complemented with the chaincode endorsement policy to achieve a desired level of resilience.

I think the consensus layer should be aware of individual transactions so that it can detect po

[2019-09-25 23:47] nhoriguchi commented on #81
Thanks for the feedback, @sergefdrv.

Yes, endorsement part focuses on generating approvals that a suggested transaction is considered valid by checking the result of the execution from a right set of endorsing peers. This part handles each transaction independently.  Then ordering service focuses on ordering the endorsed transactions.

The point is that each orderer receives different set of tran

[2019-09-26 08:51] sergefdrv commented on #81
I was thinking of each orderer node (OSN) acting as a proxy between the Fabric client (SDK) and the consensus layer. This means the OSN would combine both replica and client functionality of MinBFT. The Fabric client would pick one OSN and try to broadcast a transaction through it. Acting as a MinBFT client, the OSN would execute the client part of MinBFT protocol normally, which includes preparin

[2019-10-02 01:19] nhoriguchi commented on #87
There's a ongoing discussion about Go-plugin, but I think this specific issue is solved by #115. So let's close this.

[2019-10-02 01:19] #87 closed, assigned to ynamiki

[2019-10-02 01:19] nhoriguchi opened #121 "Build USIG as Go Plugin"
[The previous discussion](https://github.com/hyperledger-labs/minbft/pull/115#issuecomment-520554487) in #115 mentioned some remaining issue about Go plugin, so let's open a separate issue for it.  Feel free to edit the issue title if you have a better idea.

[2019-10-04 02:07] nhoriguchi commented on #6
My brief search shows that protobuf supports [message type `Any`](https://developers.google.com/protocol-buffers/docs/proto3#any) and golang provides [the related package](https://godoc.org/github.com/golang/protobuf/ptypes/any) which should provide the functionality to embed the message type info into the message itself. Currently our project depends on the older version of protobuf (v1.3.1), so

[2019-10-04 03:54] nhoriguchi commented on #5
I think that we could introduce kind of "prepare timer" to detect case 1. But I'm not sure how replicas should respond to such events. Triggering view changes might not be the best option because that mean malicious clients easily/intentionally trigger view changes. If a client doesn't send (the same) request messages to *all* replicas, that request could be considered as "not finish submission pr

[2019-10-04 12:02] sergefdrv commented on #6
I think first step to take would be defining an abstract interface for messages, thus separating message usage from message representation. Another thing to consider is that the signed/certified serialized message payload should be retained in its original form, so that validation will be reliable even if different node would use different version of Protobuf generating slightly different serializ

[2019-10-04 12:17] sergefdrv commented on #5
It seems that we cannot distinguish whether the client did not send the request to the primary, or the primary ignored it. I think the request timer should only initiate view change, if the replica is sure the primary had a chance to prepare the request. To that end, backup replicas might have to relay pending unprepared requests to the primary at some point.

One approach is to relay the request

[2019-10-07 00:53] nhoriguchi commented on #5
OK, this is the precise description of the current problem.

Thanks for the feedback. I'll write some code with the second approach. Maybe we might want to give shorter timeout value for "prepare timer" than the request timer, so that gives another reason for an additional timer.

[2019-11-11 15:43] adityaverma998 opened #125 "facing below error . kindly tell how to troubleshoot it?"
shalikram@shalikram-HP-Pavilion-g4-Notebook-PC:~/minbft$ make install
make -C usig/sgx build
make[1]: Entering directory '/home/shalikram/minbft/usig/sgx'
make[1]: Nothing to be done for 'build'.
make[1]: Leaving directory '/home/shalikram/minbft/usig/sgx'
go build -o sample/build/keytool ./sample/authentication/keytool
sample/authentication/keytool/main.go:19:8: cannot find package "github.com/hy

[2019-11-11 16:58] sergefdrv commented on #125
@adityaverma998 Thanks for trying it out. Most likely, the problem is the version of Go. MinBFT relies on [Go modules](https://github.com/golang/go/wiki/Modules) that require at least Go v1.11. It looks like you are using Go v1.10, thus the error.

You may still try building MinBFT with Go v1.10, but then you need to move the code in `$GOPATH/src/github.com/hyperledger-labs/minbft`, which would be

[2019-11-12 09:23] adityaverma998 commented on #125
Thanks for your reply, i am using go latest version, that is, 1.13.4.
Kindly let me know how i can remove the error so that i can install it properly on my system.
Warm Regards.

[2019-11-12 10:00] sergefdrv commented on #125
Could you please share the output of `go env` and `go version` on your build machine? From the output you already given, it seems like your `GOROOT` is `/usr/lib/go-1.10`...

[2019-11-12 10:29] sergefdrv commented on #125
I guess you use some Ubuntu distribution. I suggest you try checking if you have Go installed as an OS package: `dpkg --status golang` and uninstall it with `apt-get remove golang`, in case it is installed. You can also use `which go` to check which binary gets executed by `go` command. Finally, `whereis go` should give some idea of where your system can locate `go`. Please ask if you need more he

[2019-11-12 10:29] adityaverma998 commented on #125
Thank you for the reply, sir.
The version of my go was go1.10.4, which i now updated to go1.13.4.

shalikram@shalikram-HP-Pavilion-g4-Notebook-PC:~$ go version
go version go1.13.4 linux/amd64

But, now i am facing a new error, kindly comment on this asap,

ERROR:

make -C usig/sgx build
make[1]: Entering directory '/home/shalikram/minbft/usig/sgx'
make[1]: Nothing to be done for 'build'.
make[1]:

[2019-11-12 20:34] sergefdrv commented on #125
It looks like a network problem. Could you try `go get github.com/golang/example/hello`?

[2019-11-13 16:11] adityaverma998 commented on #125
Thank you so much sir for all your help.
It was due to the proxy setup which we use in our institute IIIT ALLAHABAD.
In case of any other query i will contact you.
Thank you for your kind help.

[2019-11-13 17:01] sergefdrv commented on #125
Good luck!

[2019-11-13 17:01] #125 closed, assigned to nobody

[2019-11-18 16:48] shalikpatel opened #126 "Failed to generate keys: failed to create USIG enclave:"
After running make install
I am getting following error while executing command
bin/keytool generate -u lib/libusig.signed.so

shalikram@shalikram-HP-Pavilion-g4-Notebook-PC:~/minbft$ cd sample
shalikram@shalikram-HP-Pavilion-g4-Notebook-PC:~/minbft/sample$ bin/keytool generate -u lib/libusig.signed.so
Using output file: keys.yaml
Error: Failed to generate keys: failed to create USIG enclave: libs

[2019-11-18 23:56] nhoriguchi commented on #126
Hi @shalikpatel, could you make sure that environment variable `LD_LIBRARY_PATH` includes the directory path in which `libsgx_urts.so` is located (`/minbft/sample/lib` in your case)?

[2019-11-19 05:22] shalikpatel commented on #126
Yes, I have done that using following command still I am getting same error, I have executed following commands

shalikram@shalikram-HP-Pavilion-g4-Notebook-PC:~/minbft$ export LD_LIBRARY_PATH="${PWD}/sample/lib:$/minbft/sample/lib"

shalikram@shalikram-HP-Pavilion-g4-Notebook-PC:~/minbft$ cd sample

shalikram@shalikram-HP-Pavilion-g4-Notebook-PC:~/minbft/sample$ bin/keytool generate -u lib/libusi

[2019-11-19 07:10] nhoriguchi commented on #126
I don't pinpoint the root cause yet, but it might be related to the discussion in #93. And I guess that you are trying to run Intel SGX in hardware mode (`SGX_MODE=HW`), so please note in case that your hardware supports SGX feature. You can check that with command `cat /proc/cpuinfo  | grep ' sgx '`.

[2019-11-19 09:38] sergefdrv commented on #126
Have you tried

[code]

instead of

[code]

SGX SDK's `environment` script extends `LD_LIBRARY_PATH`.

[2019-11-19 13:33] shalikpatel commented on #126
Yes but same error

shalikram@shalikram-HP-Pavilion-g4-Notebook-PC:~/minbft$ export LD_LIBRARY_PATH="${PWD}/sample/lib:${LD_LIBRARY_PATH}"

shalikram@shalikram-HP-Pavilion-g4-Notebook-PC:~/minbft$ cd sample

shalikram@shalikram-HP-Pavilion-g4-Notebook-PC:~/minbft/sample$ bin/keytool generate -u lib/libusig.signed.so
Using output file: keys.yaml
Error: Failed to generate keys: failed to create USIG

[2019-11-19 16:54] sergefdrv commented on #126
It looks like you are trying to build hardware-based SGX USIG. Is that what you wanted?

If so, could you please first check if your build machine has SGX support *enabled*, as suggested in https://github.com/hyperledger-labs/minbft/issues/126#issuecomment-555366539. If it has, please also make sure you have installed SGX driver and PSW *before* installing SGX SDK.

[2019-11-21 13:55] sergefdrv commented on #81
This is surprising since queries should not involve ordering at all. I suppose you run benchmarking on a single machine. Maybe MinBFT ordering service consume more resources in background?

[2019-11-21 15:06] sergefdrv commented on #81
@Naoya-Horiguchi Sorry for the huge delay, but I finally managed to look into this. Let me summarize my feedback:

1. We need to create dedicated implementation for `api.Configer`, `api.Authenticator`, and `api.RequestConsumer`.
2. We should keep common consensus parameters (provided by `api.Configer`) on ledger, in the configuration block. Per-node configuration, such as enclave path etc. should

[2019-11-25 01:56] ynamiki opened #128 "Try GitHub Actions"
GitHub Actions is now available. Even we don't have a strong motivation to move from our current CI (CircleCI), I would like to check the features and try the new service.

https://help.github.com/en/actions

[2019-11-25 05:30] nhoriguchi commented on #81
@sergefdrv, thank you for valuable comments.

I'm not sure about this a bit, in my understanding reply messages from MinBFT cluster are not sent back to the primary, but to the submitting orderers, so in order to get every block cut by the primary, we need collect all replies to the primary, which sounds inefficient to me. Is there any good reason to do that (for example requirement for committing

[2019-11-25 05:37] nhoriguchi commented on #128
We sometimes suffered from CircleCI issues, so I'm OK to migrate to GitHub Actions if it's really useful. My preference is that we individually tries the service for a few weeks/months, then discuss whether we like it or not.

[2019-11-25 09:32] sergefdrv commented on #128
I agree with Naoya. Let's give it a try. Maybe we can have both enabled for the mean time?

[2019-11-26 14:51] sergefdrv commented on #81
Let me elaborate a bit on my understanding of integration with Fabric. In principle, there is nothing specific to MinBFT, but should be applicable to any BFT state machine replication protocol in general.

I distinguish several roles related to Fabric ordering service:

- Fabric client (SDK/application)
- Fabric committing peer
- Fabric ordering service node (OSN)
- SMR client (MinBFT client)
- SM

[2019-11-26 15:03] sergefdrv commented on #81
I was going to look into #121. I also wanted to try making [enclave shim library path](https://github.com/hyperledger-labs/minbft/blob/d096bca47028c3cf04599336aeb080cca58c687c/usig/sgx/usig-enclave.go#L97) configurable so that we don't have to tweak `LD_LIBRARY_PATH`.

[2019-11-26 21:18] sergefdrv opened #130 "Race condition for request execution"
Message streams from different replicas are processed concurrently. Even though PREPARE/COMMIT messages from the same replica are always processed sequentially, there is still a possible race condition for request execution.

The race can happen because there is no synchronization in `makeCommitmentCollector` between invocations of `countCommitment` and `executeRequest`. It can happen that `countC

[2019-11-26 21:21] sergefdrv commented on #130
A possible solution could be to return a release function from `commitmentCounter`.

[2019-11-28 04:28] #128 closed, assigned to ynamiki

[2019-11-28 04:40] nhoriguchi commented on #128
FYI, comparison between these two CI systems is discussed [here](https://knapsackpro.com/ci_comparisons/circle-ci/vs/github-actions). Currently we only run unit tests, which requires no advanced features, so both systems seem to meet our demands.

[2019-11-28 13:08] sergefdrv commented on #130
Maybe a better way to fix this would be to protect the body of `commitmentCollector` returned from `makeCommitmentCollector` with a mutex.

[2019-11-29 04:36] nhoriguchi commented on #130
I might miss something, but `retireSeq` checks and updates `lastRetiredSeq` atomically (within a single lock), so only one goroutine seems to call `executeRequest`. Is it important which goroutine executes the request?

[2019-11-29 09:25] sergefdrv commented on #130
So the problem is that two goroutines can race to execute two different requests.

[2019-12-02 02:43] #130 closed, assigned to nobody

[2019-12-03 10:38] sergefdrv opened #135 "Detect configuration typos in the sample"
Even though this is just a sample application, this kind of error detection might help avoid surprising results if there is a simple typo in configuration. Maybe address in a separate issue? The same also applies to `sample/config` package.

_Originally posted by @sergefdrv in https://github.com/hyperledger-labs/minbft/pull/134_

[2019-12-03 10:39] sergefdrv opened #136 "Refine error handling in sample application"
[Initially, `request` function would return an error](https://github.com/hyperledger-labs/minbft/blob/50d684f2aff06919cbcf40287937a6ef55140063/sample/peer/cmd/request.go#L70) that is propagated by `cobra` up the call stack, and finally reported [here](https://github.com/hyperledger-labs/minbft/blob/50d684f2aff06919cbcf40287937a6ef55140063/sample/peer/cmd/root.go#L48). Maybe we should restore that

[2019-12-03 10:45] sergefdrv opened #137 "Develop framework for testing with Byzantine bahavior"
This is an umbrella issue to work on the subject matter and continue [this discussion](https://github.com/hyperledger-labs/minbft/pull/127#issuecomment-560991159).

[2019-12-10 04:24] nhoriguchi opened #139 "Mandatory parameters for timeout values"
We might be better to give parameters for clientstate or its timers as mandatory ones [as pointed out](https://github.com/hyperledger-labs/minbft/pull/127#discussion_r350675670) in #127.

I thought of passing `api.Configer` to `clientstate.NewProvider` in `defaultIncomingMessageHandler` but unit tests like `request-timeout_test.go` is affected by this change (that seems complicated to me). So I'm

[2019-12-10 04:50] nhoriguchi opened #140 "Relay request messages to primary replica"
As discussed in #127, we need to implement forwarding request messages to primary replica to completely solve issue #5.

[2019-12-10 09:51] sergefdrv commented on #139
I think we just need to pass the timeout duration to `clientstate.NewProvider`.

[2019-12-10 23:18] nhoriguchi commented on #139
That's a simple way. I thought too serious to find an elegant way.

[2019-12-11 11:12] sergefdrv commented on #126
@shalikpatel I was wondering if you need more help or we can close this issue?

[2019-12-13 10:50] #139 closed, assigned to nobody

[2019-12-13 14:32] sergefdrv opened #141 "Contributing: Git hook to fix commit order in GitHub"
It is a [known issue](https://help.github.com/en/github/committing-changes-to-your-project/why-are-my-commits-in-the-wrong-order) that GitHub shows commits according to commit author date rather than topologically. This creates confusion when commits are reordered with rebase/cherry-pick.

I found a [simple script](https://gist.github.com/sergefdrv/773eb052a64f8545ee2433c9e625606e) that updates au

[2019-12-15 12:58] nhoriguchi commented on #141
As long as I checked, GitHub WebUI shows commits in committer date order (not in author date order). And committer dates are updated to now with git-rebase and git-cherry-pick (even without the post-commit hook.) So I'm not sure how often the confusing situation happens.

[2019-12-16 00:51] ynamiki commented on #141
I tried rebasing and it looks ordered as intended without the hook script....
https://github.com/ynamiki/commit-reordering/pull/1

[2019-12-16 09:41] sergefdrv commented on #141
Apparently, GitHub ignores commit's author time, but not date. Please check https://github.com/sergefdrv/commit-reordering/pull/1

![image](https://user-images.githubusercontent.com/11386423/70896174-8576f800-1ff0-11ea-88d1-ea155f908f31.png)

and compare with `git log --pretty=fuller`:

[code]

[2019-12-17 04:04] nhoriguchi commented on #141
This wrong ordering happens in pull request page, and [branch page](https://github.com/sergefdrv/commit-reordering/commits/pr) seems to show topological order, so you can rely on that page. But I don't object to introduce the hook script and I'm glad to install it on my environment.

[2019-12-17 04:34] ynamiki commented on #141
I do, too.

[2019-12-17 12:47] sergefdrv commented on #141
Thank you for your feedback, I think we should mention this in the [contribution guideline](https://github.com/hyperledger-labs/minbft/blob/master/CONTRIBUTING.md).

[2019-12-18 10:39] sergefdrv commented on #141
It turns out that post-commit hook is not a reliable trigger for this purpose. For instance, this hook is not invoked in non-interactive rebase: https://stackoverflow.com/a/58842291/3778878.

[2019-12-19 23:28] #120 closed, assigned to nobody

[2019-12-25 01:59] nhoriguchi commented on #6
This issue seems to be solved by #122, so can we close this or do we have remaining items?

BTW, have a nice holidays!

[2019-12-25 14:34] sergefdrv commented on #6
In fact, #122 was a preparation step to solve this issue in isolation from the core protocol logic. Messages' signed/certified payloads are still the same, i.e. missing any payload type designator/tag. I have solved similar problem somewhere else and plan to solve this issue in similar way.

[2019-12-25 14:44] sergefdrv commented on #6
Have nice holidays, too. Btw, I'll be fully back from Jan 2.

[2020-01-02 09:48] sergefdrv commented on #126
Closing because of no reply.

[2020-01-02 09:48] #126 closed, assigned to nobody

[2020-01-06 11:27] shalikpatel opened #149 "Error: Failed to generate keys"
after make install and cd sample command following issue coming while running this command
 bin/keytool generate -u lib/libusig.signed.so

the following message is shown in the terminal

Using output file: keys.yaml
Error: Failed to generate keys: failed to create USIG enclave: libsgx_urts.so: cannot open shared object file: No such file or directory
Usage:
  keytool generate [numberReplicas [numb

[2020-01-07 01:57] nhoriguchi commented on #149
I guess that you are trying to run with SGX hardware-mode (`SGX_MODE=HW`, default mode) on the environment without Intel SGX support. So if that's true (or you are not sure), I recommend you to start with simulation mode (`SGX_MODE=SIM`). Specific steps should be like below:
[code]
Could you try these?

[2020-01-07 12:56] nhoriguchi opened #150 "Environment checker in build process"
We have non-trivial prerequisite steps before running [Running Example](https://github.com/hyperledger-labs/minbft#running-example), which can be a barrier for early users. So some environment check and guidance messages might be helpful. For example, if we try to build on non-SGX system with SGX_MODE=HW, the warning like below should be helpful:
[code]

Similarly, if we try to build without meeti

[2020-01-08 22:57] #110 closed, assigned to sergefdrv

[2020-01-09 12:59] sergefdrv opened #151 "Add go directive in go.mod"
In order to be more clear about supported version of Go, as well as to automate checking of language features used, `go.mod` file should include a `go` directive. As described in [`go` command documentation](https://golang.org/cmd/go/#hdr-The_go_mod_file):

_Originally posted by @sergefdrv in https://github.com/hyperledger-labs/minbft/pull/148/review_comment/create_

[2020-01-09 13:08] sergefdrv commented on #106
As discussed in https://github.com/hyperledger-labs/minbft/pull/148#discussion_r364585410, we should use [`golang.org/x/xerrors`](https://godoc.org/golang.org/x/xerrors) package to wrap errors

[code]

create error values attributed with stack trace

[code]

and the report errors with extra details (stack trace) useful to diagnose errors

[code]

[2020-01-14 06:21] #6 closed, assigned to sergefdrv

[2020-01-14 23:45] #151 closed, assigned to nobody

[2020-01-17 09:49] shalikpatel commented on #149
After

After trying all the above steps that you suggested I am getting the following error,

Also I would like to include that I am using Computer with the following configurations,

[2020-01-17 10:57] sergefdrv commented on #149
FWIW, "SGX error: 1" probably means `usig_init` returned `SGX_ERROR_UNEXPECTED`...

[2020-01-17 11:05] sergefdrv commented on #149
@shalikpatel Which version of SGX SDK do you use? Could you please share the output from `cat /opt/intel/sgxsdk/pkgconfig/libsgx_urts_sim.pc`?

[2020-01-17 17:02] shalikpatel commented on #149
Output of cat /opt/intel/sgxsdk/pkgconfig/libsgx_urts_sim.pc?

[2020-01-17 20:31] sergefdrv commented on #149
@shalikpatel

It looks like you are using SGX SDK v2.7.1, but we tested MinBFT with v2.3.1, as indicated [here](https://github.com/hyperledger-labs/minbft#intel-sgx-sdk). Could you please try with that version to see if that was the problem?

[2020-01-18 18:16] shalikpatel commented on #149
After changing version 2.3.1 I am facing same error can you please help me out.

[2020-01-20 08:25] shalikpatel commented on #149
I am waiting for your reply.

Kindly reply as soon as possible.

[2020-01-20 14:29] sergefdrv commented on #149
I just tried with SGX SDK v2.7.1 and it works. So that was not the cause of your problem, although it's not clear why you get the error....

@shalikpatel
I suppose you made several attempts to build and run MinBFT, changing configuration/dependencies on the way. Maybe it would work if you freshly clone the code into a new directory and try following the ReadMe from scratch?

[2020-01-22 20:10] shalikpatel commented on #149
I have tried with freshly clone in new directory but it still showing same error. What should I Do, Can You solve it I I will share my desktop with (TeamViewer) with you.

After running with new directory

[2020-01-23 09:19] sergefdrv commented on #149
@shalikpatel Could you please try the following on your machine:

[code]

and somehow share `~/BlockChain/minbft-shalikpatel.tar.bz2` with us? (Please make sure `env.out` doesn't contain any sensitive information.)

[2020-01-24 00:31] ynamiki opened #160 "Upgrade to Intel SGX 2.8"
Intel SGX Linux 2.8 has been [released](https://01.org/intel-softwareguard-extensions/downloads/intel-sgx-linux-2.8-release).

This release contains an interesting new feature for me:

Even we have been able to do that with older releases, but now we have official way for that. I think providing a container image is nice, because a user can try our project more easily.

I will try the latest relea

[2020-01-24 20:35] sabtheekhain opened #162 "Client Request timer expired."
After Running

and

I am getting following error

 can you help me out.
I have also tried with two different terminals but same error showing.

[2020-01-25 04:34] nhoriguchi commented on #162
Hi @sabtheekhain, thank you for trying!

Could you share standard outputs from `bin/peer run` processes? For example by doing like below:
[code]
, the logs `/tmp/log*` should include information about what messages each process did receive (or not receive), so they should help us understand how your cluster works.

And I now assume that you are using default sample config files (under `sample`), s

[2020-01-25 12:05] ynamiki commented on #160
I cannot find any mentions of the feature in the [documents](https://download.01.org/intel-sgx/sgx-linux/2.8/docs/)....

I think that the release note is wrong and the feature has not been merged in this release; there is an [ongoing issue](https://github.com/intel/linux-sgx/pull/486) in their repository. We may need to wait a next release.

[2020-01-25 15:02] nhoriguchi commented on #160
Thanks for the investigation, so let's keep this issue open and wait for the new feature to be released. Could you update the subject of this issue?

[2020-01-26 07:20] ynamiki opened #163 "Create Docker container images of example applications"
A future release of [Intel SGX](https://01.org/intel-softwareguard-extensions) may introduce a new feature to support for running SGX applications inside Docker containers. The feature described in the What's New section in [Intel SGX 2.8 Release Note](https://01.org/intel-softwareguard-extensions/downloads/intel-sgx-linux-2.8-release) but it seems not to be included in this release and is still a

[2020-01-26 07:21] ynamiki commented on #160
Move to #163.

[2020-01-26 07:21] #160 closed, assigned to ynamiki

[2020-01-26 18:43] sabtheekhain commented on #162
I am following all steps as given in the README.md file

[2020-01-26 19:12] shalikpatel commented on #149
Kindly copy and past the following url into your browser I have uploaded minbft-shalikpatel.tar.bz2 , env.out and os.out file in google drive and I am sharing link of that folder

https://drive.google.com/drive/folders/1XbDp26LXiEQr83tV6pivPF5JBogNRWZe?usp=sharing

[](https://drive.google.com/drive/folders/1XbDp26LXiEQr83tV6pivPF5JBogNRWZe?usp=sharing)

[2020-01-27 06:07] nhoriguchi commented on #162
If `bin/peer run` command prints out "Using config file: peer.yaml" line but doesn't print out "Replica 0: Received <REQUEST ...>" line, that means that `bin/peer run` processes didn't received any request messages from `bin/peer request` process. And your output contains "Client Request timer expired." line, so `bin/peer request` process seems to send the request. So I suspect connection issue be

[2020-01-27 07:34] sabtheekhain commented on #162
Output of

[2020-01-27 08:03] nhoriguchi commented on #162
Thanks, so ports are surely listened. Although I snipped the output in my previous reply, but I actually saw established connections between peers, that's not included in your output:
[code]
So now I get to guess that somehow gRPC dialing is (maybe infinitely) waiting and the client timed out. Unfortunately I don't still have a clear answer for this, so let me dig more...

[2020-01-27 12:06] sergefdrv commented on #149
@shalikpatel Sorry, I can't find `minbft` directory in `minbft-shalikpatel.tar.bz2`. I suppose you had tried to build it last time in `~/BlockChain/minbft`, so `tar -caf minbft-shalikpatel.tar.bz2 env.out os.out minbft ${SGX_SDK:-/opt/intel/sgxsdk}` must have added it to the archive...

[2020-01-27 14:29] nhoriguchi commented on #150
SGX hardware support checker is available [here](https://github.com/ayeks/SGX-hardware). It's a simple C program executing CPUID instruction to retrieve SGX capability, so the check should be reliable enough. So I'm now thinking of using this in this project.

I'm a little unsure about how. Maybe committing the source file with LICENSE file is a common way, but that could be another source of comp

[2020-01-27 14:51] sergefdrv commented on #150
Have you considered approaches described in [this article](https://software.intel.com/en-us/articles/properly-detecting-intel-software-guard-extensions-in-your-applications) from Intel?

[2020-01-27 14:58] sergefdrv commented on #150
This notice looks alerting:

[2020-01-27 15:02] nhoriguchi commented on #150
Ah, I didn't check that. Thanks for the pointer 👍

[2020-02-04 17:34] #150 closed, assigned to nhoriguchi

[2020-03-06 08:16] nhoriguchi opened #167 "Improve context info in logger output"
Currently log messages are printed out with pretty prefix like below:
[code]
This is a good practice, but I feel that it would be more desirable if we could somehow show context info rather than ambiguous one like 'func1'.

[2020-03-08 23:10] nhoriguchi commented on #167
https://github.com/hyperledger-labs/minbft/blob/072cb7503ed5b062fbc9c78afa82cf14a8c319d2/core/replica.go#L27-L31

By setting `defaultLogPrefix` to "longfunc" instead of "shortfunc", log output looks a little more informative like this:
[code]

[2020-03-08 23:42] ynamiki commented on #167
+1. We use anonymous functions a lot so I think this improves the visibility the log.

Note: [Supported verbs](https://pkg.go.dev/github.com/op/go-logging?tab=doc#NewStringFormatter) by go-logging (both `shortfunc` and `longfunc` are "experimental").
Note 2: [This line](https://github.com/hyperledger-labs/minbft/blob/072cb7503ed5b062fbc9c78afa82cf14a8c319d2/core/message-handling.go#L244) outputs t

[2020-03-09 08:51] #167 closed, assigned to nhoriguchi

[2020-04-22 08:44] sergefdrv opened #170 "Eliminate accumulated forwarded Request messages"
Using `messagelog` to buffer forwarded requests eliminates dandling goroutines when the destination replica stops receiving the messages. However, this will still accumulate the forwarded messages in the unicast message logs, whereas we only need to keep at most one request per client (until we add support for concurrent client requests).
This is because each _new_ Request may be added to the unic

[2020-04-23 07:30] ynamiki opened #171 "Create a project board and milestones"
To visualize what we are doing and when we plan to release, I would like to create a project board ("kanban").

Specifically, I am thinking of:
- Creating a project board with columns "To do", "In progress", "Review in progress", "Reviewer approved", and "Done" (these are provided by a GitHub's template).
- Creating milestones with a certain period (Q1 2020, Q2 2020, ..., or Early 2020, Mid 2020,

[2020-04-23 07:31] ynamiki commented on #171
Try a project board:
https://github.com/hyperledger-labs/minbft/projects/1

[2020-04-23 12:45] sergefdrv commented on #171
Thank you, let's give it a try! I guess the first step would be to add "To Do" label to the issues that we plan to address in the near future.

We could alternatively create milestones based on big pieces of work rather than time-based, e.g. "View change implemented" or "Checkpoints implemented". What do you think?

[2020-04-24 02:15] nhoriguchi commented on #171
I'm fine to try the project page, too. Maybe we need start with creating all possible tasks to GitHub issues. It's desirable to make the tasks broken down to properly sized ones (to make schedules predictable). And then, we can think of which set of issues should be solved for next milestone.

I simply prefer version-based milestone (like "v0.1"), because feature-based one might give an impression

[2020-04-25 04:56] ynamiki opened #172 "Release v0.1.0"
Discuss what are included and when it will be released here.

[2020-04-25 05:13] ynamiki commented on #171
@sergefdrv @Naoya-Horiguchi Thanks for your comments! I'm fine with non-time-based milestone but I wanted to see rough schedule of each item. So how about doing it the following way.

- Create an issue for each development item/task.
- Create milestones with numerical versions (e.g. v0.1.0, v0.2.0, ...) with [Semantic Versioning](https://semver.org/) style.
  - A test milestone for [v0.1.0](https:

[2020-04-25 10:19] sergefdrv commented on #172
From my side, I would like to at least add support for view change in this release. It would also be nice to add some description of implementation design and required protocol adjustments.

[2020-04-25 10:20] sergefdrv commented on #149
Closing due to inactivity. Feel free to reopen if more help needed.

[2020-04-25 10:20] #149 closed, assigned to nobody

[2020-04-25 10:20] sergefdrv commented on #162
Closing due to inactivity. Feel free to reopen if more help needed.

[2020-04-25 10:20] #162 closed, assigned to nobody

[2020-04-26 10:30] ynamiki commented on #172
@sergefdrv Thanks, can I have a rough idea of your schedule?

[2020-04-27 05:07] ynamiki opened #173 "Release v0.2.0"
Discuss what are included and when it will be released here.

[2020-04-27 05:20] ynamiki commented on #171
I have created some milestones and issues that are linked to each milestone.
Let's start and feel free to post your comments about any improvements of the way.

https://github.com/hyperledger-labs/minbft/milestones
https://github.com/hyperledger-labs/minbft/projects/1

[2020-04-27 05:20] #171 closed, assigned to nobody

[2020-04-27 05:23] ynamiki commented on #172
I should update the CI environment: the latest Go, SGX SDK, linter, and OS?, etc. If the latest SGX SDK supports "containerization", I will do that (#163).

[2020-04-27 05:32] ynamiki commented on #172
@Naoya-Horiguchi Do you have items for this release?

[2020-04-27 05:47] nhoriguchi commented on #172
I'll work on testing framework (#137) in this quarter, so please add it to the item list.

[2020-04-27 08:53] #5 closed, assigned to nhoriguchi

[2020-04-27 15:49] sergefdrv opened #174 "Blocking message stream on handling forwarded Request"
I am checking the message handling code and have noticed the following. Currently, we don't distinguish whether an incoming connections originates from a client or from another replica: both message streams are eventually handled by the function constructed in `makeMessageStreamHandler`. This function will try to deliver any message produced by the supplied `incomingMessageHandler` as a reply to t

[2020-04-28 08:28] nhoriguchi commented on #140
Reopened due to #174. I think that this issue doesn't mean a regression, but "the feature is not completed".

[2020-04-28 08:28] nhoriguchi commented on #174
I haven't before but I tested again today, and as you described, the primary peer that received a forwarded `Request` no longer sends REPLY message even in responding to a `Request` from client. What I observed was that the primary replica never prints out log "Generated <REPLY ...>" after processing forwarded `Request`.

Thanks for the comment, I tried the quick fix (with below diff) but it seems

[2020-04-28 10:41] sergefdrv commented on #174
Does it print enough corresponding "Received <COMMIT ...>" and "Handled <COMMIT ...>" messages?

[2020-04-28 13:08] nhoriguchi commented on #174
Neither of the massages is printed.

Lists of logs of primary peer and backup peer are shown below. In this configuration (N=3, and peer 0 is the primary,) the cluster processed 3 requests:
- the first request messages are sent to all peers,
- the second request messages are sent to peer 1 and 2 (so request forwarding happens,)
- the third request messages are sent to all peers.

So the logs with

[2020-04-28 16:09] sergefdrv commented on #174
So the primary does not produce Reply messages because it stops receiving Commit message after it has received the forwarded Request...

[2020-05-02 06:28] nhoriguchi commented on #174
I wondered how the primary peer printed the error log "Error receiving from server stream: rpc error: code = Canceled desc = context canceled", and found that It was printed by goroutine in `(*replyState)#ReplyChannel()` called from `requestReplier`. The root cause of this is that the primary peer receives 2 forwarded REQUESTs with the same sequence number, and the second one is not handled proper

[2020-05-04 10:03] sergefdrv commented on #174
This is because we need to send a REPLY message to the client even if the corresponding REQUEST message has been processed before. Imagine the replica receives and processes the REQUEST message embedded into a PREPARE message before receiving it directly from the client. Nevertheless, the client might still need to receive the REPLY message to collect a sufficient quorum. This is one reason why RE

[2020-05-04 16:53] sergefdrv commented on #174
@Naoya-Horiguchi Could you please check if #175 helps to resolve this issue?

[2020-05-05 12:28] sergefdrv commented on #172
@ynamiki Sorry for late reply. I am thinking to finish this in about couple of months.

[2020-05-05 13:08] sergefdrv opened #176 "Implement view change"
This is an umbrella issue that covers work related to implement view change mechanism. View change allows the system to survive primary replica (leader node) failure. The main work items:

- [x] #177
- [x] #178
- [x] #179
- [x] #180
- [x] #243

[2020-05-05 13:11] sergefdrv opened #177 "Implement ReqViewChange message handling"

[2020-05-05 13:12] sergefdrv opened #178 "Implement ViewChange message handling"

[2020-05-05 13:13] sergefdrv opened #179 "Implement NewView message handling"

[2020-05-05 13:15] sergefdrv opened #180 "Implement view change timer"
The view change timer ensures a subsequent view change triggered if the new primary candidate is faulty.

[2020-05-05 13:25] sergefdrv commented on #173
Maybe those would be good candidates to include in v0.2:

- Checkpoints and protocol log pruning
- Integration with Hyperledger Fabric (#81)
- Documentation of implementation design and required protocol adjustments

[2020-05-05 23:06] ynamiki commented on #172
Thanks, I have set the due date to the end of July. This is not a strict deadline; we will update it depending on our progress.

https://github.com/hyperledger-labs/minbft/milestone/1

@sergefdrv @Naoya-Horiguchi Please create issues and set the project ("Development") and a milestone if you have a task that is not presented as an issue.

[2020-05-06 23:27] ynamiki commented on #163
I noticed Intel SGX Linux 2.9.1, which was released in early April brings some documents about Docker even there are no mentions in the release note:
https://github.com/intel/linux-sgx/tree/sgx_2.9.1/docker/build

I'll take a look the document to consider whether we can use it.

Note that, the release updates system requirements; now we need Ubuntu 18.04, and Ubuntu 16.04 is dropped.

[2020-05-07 23:09] ynamiki opened #182 "Update the CI environment"
Before the upcoming release, update the dependencies, the CI environment, and README to use the latest releases:

- [x] Dependencies
- [x] Ubuntu (CI)
- [x] Intel SGX SDK (CI)
- [x] Go (CI)
- [x] GolangCI-Lint (CI)
- [x] README

[2020-05-08 10:15] sergefdrv commented on #182
We might also like to check other direct dependencies in `go.mod` for useful updates.

[2020-05-08 12:48] nhoriguchi commented on #174
Sorry for the late response, I confirmed that #175 fixes this issue.

I agree that a client should always receive REPLY for a REQUEST whichever paths the replicas accept it from (directly from the client, REQUEST embedded in PREPARE, or forwarded REQUEST). But "exactly one" REPLY or "at least one" REPLY(s) should be clear because client applications have to decide how to handle duplicated REPLYs.

[2020-05-08 15:00] sergefdrv commented on #174
Great news! I know you had holidays in Japan. Thanks for making the checks :slightly_smiling_face:

I believe it already does the check [here](https://github.com/hyperledger-labs/minbft/blob/9f0b3f20bb377c35989dd51028370490edfb9b03/client/internal/requestbuffer/requestbuffer.go#L223). Admittedly, the design of the `client` package differs from the `core` package because it was implemented earlier.

[2020-05-11 09:17] sergefdrv opened #183 "Code review responsibilities"
As we discussed in #12, pull requests must be reviewed by one of the [minbft-committers](https://github.com/orgs/hyperledger-labs/teams/minbft-committers) members (former [nec-blockchain](https://github.com/nec-blockchain) members). So far I used to request review from both @ynamiki and @Naoya-Horiguchi for my pull requests and wait for both to approve before merging. I was wondering if this might

[2020-05-11 22:52] nhoriguchi commented on #183
I had the same impression, and I felt sorry when I was blocking the process... Splitting review responsibility could be one solution so I'm OK to try it, but it's a little unclear to me how to split the subsystem for each developer.

Maybe another action we could take is to add the policy that a PR should be merged when it get (exactly) one approval with some (24h for example) lead time for the se

[2020-05-11 23:47] ynamiki commented on #183
@sergefdrv Thank you for your suggestion.

I'm fine with that; actually I have thought I should try to update the review process for faster development without my slow response.

@Naoya-Horiguchi's suggestion looks good for me because we don't have clear assignation now (to be honest, @Naoya-Horiguchi takes almost all of the role). How about trying the way with 24h for the lead time tentatively? I

[2020-05-12 07:24] #174 closed, assigned to nhoriguchi

[2020-05-15 10:19] sergefdrv commented on #183
Let me share with you some thoughts. I think the following aspects matter the most.

**Whom to request review from?** So far the pace of contribution looks moderate, and all maintainers seem to care about most of the changes. Nevertheless, we could make it a bit more convenient and [set up code owners](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners)

[2020-05-18 00:20] nhoriguchi commented on #183
OK, so let's try code owner feature.  I think that another reason to use some automated mechanism to assign reviewers is to avoid misoperations. I usually set reviewers by choosing all maintainers from the account list shown by clicking the gear icon on the right of "Reviewers" section in web UI. The list shows many unrelated accounts, so I likely to click them (leading to send wrong notifications

[2020-05-18 01:54] ynamiki commented on #183
@sergefdrv @Naoya-Horiguchi Thanks for your suggestion. Let me summarize previous comments. Please point out any errors.

- Create [a CODEOWNERS file](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners). At this moment, we set @sergefdrv @Naoya-Horiguchi @ynamiki) as owners of all files.

Code reviewing polices:

- [Add] A pull request will be set revie

[2020-05-18 08:38] sergefdrv commented on #183
@ynamiki Thank you for summarizing the conversation. I think it captures well the outcome of our discussion.

Maybe we could also agree that one of the reviewers assigns the pull request to themselves and thus becomes responsible for merging? It could be the author in the first case, and the first reviewer otherwise.

[2020-05-18 09:29] sergefdrv commented on #140
Closing since #174 has been resolved

[2020-05-18 09:29] #140 closed, assigned to nhoriguchi

[2020-05-19 07:22] ynamiki commented on #183
@sergefdrv Thanks for pointing that out. I'll create a pull request to update the document to include the above policies.

[2020-05-20 08:35] sergefdrv commented on #183
As of splitting responsibilities, I would like to overlook all changes, especially the core logic. I might be slightly less engaged in discussing "infrastructural" updates. :slightly_smiling_face:

[2020-05-20 21:56] ynamiki commented on #183
I can take care of the infrastructural part (i.e. build system, CI, Docker (TODO), etc.).

[2020-05-20 22:51] nhoriguchi commented on #183
So should I cover all except core logic and infrastructure part? I'm OK on it.

[2020-05-20 23:00] ynamiki commented on #183
Then, let me think about how we describe a CODEOWNERS file; I will create a PR later.

[2020-05-23 05:07] #183 closed, assigned to nobody

[2020-05-30 01:32] ynamiki opened #191 "Enabling "Dismiss stale pull request approvals when new commits are pushed" in the project settings"
I feel that I have to withdraw my approval, but there seems no way for it. Enabling "Dismiss stale pull request approvals when new commits are pushed" setting in branch protection tab (see below) would help us, although I don't have permission to change it on this project. If you think it's helpful, let's enable the setting.

![image](https://user-images.githubusercontent.com/378762/83203106-ab99e

[2020-05-30 01:34] ynamiki commented on #191
We need to contact the LF Admin team to update the configuration. I'll do it.

[2020-06-03 03:47] ynamiki commented on #182
Done by #185 and #190.

[2020-06-03 03:47] #182 closed, assigned to ynamiki

[2020-06-03 05:54] ynamiki commented on #191
I have contacted [the LF Help Desk](http://support.linuxfoundation.org/) [IT-19857]. Waiting a response.

[2020-06-03 23:42] ynamiki commented on #191
@sergefdrv @Naoya-Horiguchi The setting has been updated by the LF team. If it seems not working, please re-open this issue.

[2020-06-03 23:42] #191 closed, assigned to ynamiki

[2020-06-04 00:19] nhoriguchi commented on #191
Thank you for your effort. We'll check how the setting works in next reviews.

[2020-06-20 06:36] ynamiki commented on #163
Done in #193 for the simulation mode. Needs more work for the HW mode.

[2020-06-25 23:26] ynamiki commented on #172
@sergefdrv @Naoya-Horiguchi I have set the due date of the milestone [v0.1.0](https://github.com/hyperledger-labs/minbft/milestone/1) to the end of this month, but I think it needs some more time to finish the issues under the milestone. I would like to have your idea about schedule of your issues.

[2020-06-25 23:50] nhoriguchi commented on #172
I agree that we need more time for v0.1. Unfortunately I'm busy on other project now, so no visible update on my item. Maybe adjusting the target date to the end of July seems fine to me.

[2020-06-26 09:49] sergefdrv commented on #172
@ynamiki Sorry, I forgot to tell in advance, but I am also quite busy on some other projects. I think, in the worst case, it could take me up to the end of October to finish preparing all pieces of view change implementation for review. I don't mind tentatively setting the target date more optimistically, like the end of July.

[2020-06-26 12:40] ynamiki commented on #172
@sergefdrv @Naoya-Horiguchi Thanks, the due date is updated to the end of July.

[2020-07-17 07:39] sergefdrv commented on #141
As was [announced by GitHub](https://github.blog/changelog/2020-07-14-pull-request-commits-now-ordered-chronologically/), pull request commits are ordered according to their chronological order, which is consistent with the ordering in Git. Therefore, there is no need in any special care like a Git hook anymore :tada:

[2020-07-17 07:39] #141 closed, assigned to nobody

[2020-07-22 05:02] ynamiki commented on #172
@sergefdrv @Naoya-Horiguchi I think we need to update the target date again. From the previous comment of @sergefdrv , the end of November (the codes are prepared at the end of October and another month to review, etc.) is my idea. Could I have your ideas?

[2020-07-22 06:26] nhoriguchi commented on #172
@ynamiki I agree with you, end of November looks more realistic schedule to me.

[2020-07-22 08:24] sergefdrv commented on #172
@ynamiki The new target date seems realistic to me. We can always release it earlier, if we manage to :wink:

[2020-07-22 08:33] ynamiki commented on #172
Thanks, target is now the end of November.
https://github.com/hyperledger-labs/minbft/milestone/1

[2020-10-09 02:34] nhoriguchi commented on #105
Sorry for mishandling of "assignee". @Romeo5929 is working on this issue now, although I can't find his account in "Assignees" list.

[2020-10-09 02:41] ynamiki commented on #105
I think we can "assign" an issue to only a member of the [hyperledger-labs organization](https://github.com/orgs/hyperledger-labs/people)....

[2020-10-09 02:59] nhoriguchi commented on #105
@ynamiki  thank you for clarifying, so let's keep "Assignee" blank, and just stating in comment that "he is working".

[2020-10-10 01:02] ynamiki commented on #105
Let's move this to the "In progress" column in the dashboard.

[2020-10-16 08:22] sergefdrv commented on #105
Please have a look at #106 as well, it might make sense to handle both at onc :wink:

[2020-10-26 21:10] sergefdrv opened #199 "Repository changes"
I noticed some changes happened to this repository.

 - [`minbft-committers` team](https://github.com/orgs/hyperledger-labs/teams/minbft-committers) was removed from GitHub
 - CODEOWNDERS doesn't seem work properly (e.g. #198 was not assigned to any reviewer initially)

@ynamiki Do you know who has maintainer role in the repository? Do you have contact with HL to clarify this?

[2020-10-26 22:19] ynamiki commented on #199
Thanks, I have not noticed the effect. I will contact the HL team to clarify this.

[2020-10-29 04:34] ynamiki commented on #199
I have got a response but there is no answer about the maintainers.... It is confirmed that current contributors do not have write permissions, so I ask for the permission in my reply.

[2020-10-29 09:56] sergefdrv commented on #199
Thank you for taking care of this. We at least need to be able to change issue/PR attributes, like assignees, labels etc. It's also unclear how to make automatic reviewer assignment work again.

[2020-10-29 10:08] sergefdrv commented on #199
I checked [the docs](https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners), and I think our code owners indeed need "write" level permission for the repository:

[2020-10-29 23:50] ynamiki commented on #199
@sergefdrv @Naoya-Horiguchi Now we have write permissions again!

It seems that we are [outside collaborators](https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-organizations-and-teams/adding-outside-collaborators-to-repositories-in-your-organization) of the organization hyperledger-labs, and have [write permission](https://docs.github.com/en/free-pro-team@latest/githu

[2020-10-29 23:50] #199 closed, assigned to nobody

[2020-11-04 01:37] #105 closed, assigned to nobody

[2020-11-17 08:38] #42 closed, assigned to nobody

[2020-11-17 08:38] #46 closed, assigned to nobody

[2020-11-20 23:00] ynamiki opened #200 "Update Test Environment"
Intel has released [SGX SDK 2.12](https://01.org/intel-softwareguard-extensions/downloads/intel-sgx-linux-2.12-release), which adds Ubuntu 20.04 support. We should update our test environment, including the description in README.

Planned combinations:
- OS: Ubuntu 18.04 and 20.04
- SGX SDK: 2.12 (latest)
- Go: 1.11 (first version supports Go module), 1.15 (latest released version)
- golangci-lint

[2020-11-20 23:11] ynamiki commented on #172
@sergefdrv @Naoya-Horiguchi I'm afraid we need more time for this release. Could I have your plan of your development items?

[2020-11-23 15:25] sergefdrv commented on #172
@ynamiki I hope I can come back to this and continue preparing view change implementation in January. I suppose end of February would be a fairly safe assumption to deliver it. But I will try to make it faster.

[2020-11-27 01:05] ynamiki commented on #172
Thanks, now the due date of v0.1 is the end of February.
https://github.com/hyperledger-labs/minbft/milestone/1

[2021-01-07 13:31] #200 closed, assigned to nobody

[2021-02-25 04:57] ynamiki commented on #172
@sergefdrv @Naoya-Horiguchi Should we postpone the release, which is planed at the end of this month?

[2021-02-25 13:12] sergefdrv commented on #172
Unfortunately, yes, I am still too busy with other tasks...

[2021-02-27 04:08] ynamiki commented on #172
Sure, I deleted the due date from the milestone.

[2021-05-14 22:19] sergefdrv opened #205 "Update CODEOWNERS"
Naoya has apparently changed his GitHub user name. We should update the CODEOWNERS file if he would continue maintaining this repository.

[2021-05-17 01:32] nhoriguchi commented on #205
Thank you for noticing this, I hope I can keep involved in the development, so I'll just rename the CODEOWNER file.

[2021-05-17 01:43] #205 closed, assigned to nhoriguchi

[2021-06-28 05:34] #177 closed, assigned to sergefdrv

[2021-08-04 19:57] sergefdrv opened #209 "Set default branch to `main`"
As noted in [this email](https://lists.hyperledger.org/g/labs/message/145), Hyperledger Labs should, similar to Hyperledger Projects, move from `master` to `main` for the default branch. MinBFT also needs to do the switch.

[2021-08-05 02:57] ynamiki commented on #209
@sergefdrv @nhoriguchi I'll contact Ry for updating the setting if you are OK to do it now.

[2021-08-05 07:31] sergefdrv commented on #209
We don't have any open pull requests, so it should be fine.

[2021-08-13 01:11] ynamiki commented on #209
I've sent a request. The setting will be updated soon.

[2021-08-13 21:06] ynamiki commented on #209
Done.

[2021-08-13 21:06] #209 closed, assigned to nobody

[2021-11-10 12:47] ynamiki opened #211 "Using GitHub Action for Running golangci-lint"
`golangci-lint` provides the official GitHub Action and using this is recommend in the official document:
https://golangci-lint.run/usage/install/#github-actions

We will get the following benefits from the action:
- It can be much faster than the simple binary installation.
- It creates GitHub annotations for found issues.

[2021-11-10 13:12] sergefdrv commented on #211
Oh, that would be very nice! :+1:

[2021-12-01 17:57] sergefdrv opened #216 "Optimize message implementation for serialized data size"
The message implementation was optimized for simplicity. However, it is not efficient in terms of the serialized data size since it doesn't attempt to avoid duplication.

[2021-12-10 13:42] sergefdrv opened #221 "Enable LGTM automated security analysis"
[LGTM](https://lgtm.com/help/lgtm/about-lgtm) is a security analysis platform that can automatically check code for real CVEs and vulnerabilities. We might want to enable it for MinBFT.

[2021-12-12 23:45] nhoriguchi commented on #221
I'm fine with using it, which might allow us to avoid introducing common security issues.

[2021-12-12 23:59] ynamiki commented on #221
We need to install the LGTM GitHub App to enable the functions. I will contact the LF IT team to request the installation.
https://lgtm.com/help/lgtm/github-apps-integration

[2021-12-14 23:42] ynamiki commented on #221
Ry is trying to enable the LGTM GitHub App for this repository. He will create some PRs to test the integration; we can ignore the PRs.

[2021-12-16 23:55] ynamiki commented on #221
The LGTM GitHub App has been enabled. No alearts for the HEAD. A check by the app will be triggered in a next pull request.
https://lgtm.com/projects/g/hyperledger-labs/minbft/

[2021-12-16 23:55] #221 closed, assigned to ynamiki

[2021-12-17 00:04] ynamiki opened #225 "Add an LGTM.com badge in README"
We have setup an integration with LGTM.com.
Let's add a badge in README.
https://lgtm.com/projects/g/hyperledger-labs/minbft/ci/

[2021-12-19 22:38] #225 closed, assigned to ynamiki

[2022-01-17 18:00] sergefdrv opened #231 "LGTM analysis skipped on force-push"
It looks like LGTM analysis is [skipped](https://github.com/hyperledger-labs/minbft/pull/229#event-5901752037) after a [force-push](https://github.com/hyperledger-labs/minbft/pull/229#event-5893533842). Could you please help to fix this?

[2022-01-24 13:23] sergefdrv commented on #231
I can confirm LGTM analysis was also skipped after a force-push in #230.

[2022-01-25 00:47] #178 closed, assigned to sergefdrv

[2022-01-27 22:28] ynamiki commented on #231
I will ask for help from the LF IT support team. Sorry for my late response.

[2022-02-03 09:52] sergefdrv commented on #231
LGTM analysis seems to work on force-pushes now, thanks!

[2022-02-03 09:52] #231 closed, assigned to ynamiki

[2022-03-12 16:06] #179 closed, assigned to sergefdrv

[2022-03-25 07:23] #180 closed, assigned to sergefdrv

[2022-03-25 09:40] sergefdrv opened #243 "Add semi-automated view-change test"
Implement a script that periodically suspends and resumes replica processes. This will help to better test view-change functionality.

[2022-03-25 14:04] sergefdrv opened #245 "Support replica and client instance termination"
Some use-cases (e.g. when using MinBFT as a sub-protocol) may require terminating replica and client instances so that they stop any activity and release all occupied resources.

[2022-03-29 17:16] sergefdrv commented on #172
@ynamiki I have opened all pull requests that I planed for this release

[2022-04-03 14:42] #243 closed, assigned to sergefdrv

[2022-04-11 13:28] #176 closed, assigned to sergefdrv

[2022-08-06 16:44] hyperledger-bot opened #251 "Create a MAINTAINERS.md file"
Example: https://github.com/hyperledger-labs/solang/blob/main/MAINTAINERS.md Example of a pointer: https://github.com/hyperledger-labs/homebrew-solang/blob/main/MAINTAINERS.md

[2022-10-29 14:19] dgiantsidi opened #252 "Benchmarking the code in distributed settings"
Hi there,

I 'd like to benchmark minbft in a distributed setting of 5-6 machines.
Is there any documentation for that?
I dig into the code and made some changes that mostly aim to solve the connectivity issues. So instead of relying on the docker-compose network I used the host network with the host-ip addresses (in a local machine though--not yet distributed).
It looks like that replicas and the

[2022-10-31 16:17] nhoriguchi commented on #252
@dgiantsidi Thank you for experimenting with minbft.

Unfortunately not.

I feel that you might see the error because you build with `make install` separately in each hosts. If that's true (sorry if not...), you might work around this by building in one host and then copying the deliverables (especially `lib/libusig.signed.so` and `lib/libusig_shim.so`) to the other hosts.

[2022-11-01 16:40] dgiantsidi commented on #252
Hi there,

@nhoriguchi  thank you for your reply.

Our cluster runs an NFS so all files, binaries, libraries are visible to all servers.
What I tried (unfortunately with no luck) is to build the docker-image in one host and then "copy" this image to all other servers without re-building it (as nfs by default does not copy these). The same error persists; replica 0 receives the request but fails to

[2022-11-02 16:36] nhoriguchi commented on #252
Hi,

Did you test in SGX HW mode, or in simulation mode? I checked that consensus properly worked on 3-node cluster (each node running on separate EC2 instance without docker), where each node has the setting `SGX_MODE=SIM` (I don't check with `SGX_MODE=HW` myself because no SGX-enabled instance is available to me now).

So I don't think so, each node can have the identical keys.yaml (at least in

[2022-11-02 18:36] dgiantsidi commented on #252
Hello,

I tested with ```SGX_HW=SIM``` each of the process runs in a docker container.
The reason for using docker is that we deploy NixOS in our cluster and as such building the SGX drivers etc. requires some engineering from my side.
For the network interfaces, IPs, etc. to be available I use the ```--network host``` option when deploying docker.

--dimitra

[2022-11-04 16:29] nhoriguchi commented on #252
We only test a few specific sets of OS and SGX driver versions, so I have no idea of the root cause of your error, sorry.

[2022-11-04 16:44] dgiantsidi commented on #252
Okay @nhoriguchi,

Thank you for your help and time :)
I am closing this for the moment.

--dimitra

[2022-11-04 16:44] #252 closed, assigned to nobody

[2022-11-23 12:49] #245 closed, assigned to sergefdrv

[2022-11-26 10:07] xiboliang opened #253 "Client Request timer expired"
After running bin/peer request "First request" "Second request" "Another request"
I am getting following error while executing command
bin/peer request "First request" "Second request" "Another request"

wujunda@ubuntu:~/workspace/gocode/minbft/sample$ sudo bin/peer request "First request" "Second request" "Another request"
Using config file: peer.yaml
[minbft] 01:58:19.701 makeMessageStreamHandle

[2022-11-28 03:11] #253 closed, assigned to nobody